@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;300;400;700;900&display=swap');
*{
  font-family: 'Roboto Slab', serif;
}
body {
  font-family: 'Roboto Slab', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.pay-form{
  background-color: #efefef;
  padding: 1rem;
  border-radius: 12px;
  margin: 1rem 0rem;
}

@media (min-width: 1200px){
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1140px;
  }
  .pay-form{
    max-width: 768px !important;
    margin: 48px auto;
    padding: 1rem 5rem !important;
  }
}